- name: Sync all the project folder to home
  ansible.posix.synchronize:
    src: "{{ local_project_path }}/"
    dest: "{{ remote_project_path }}"
    rsync_opts:
      - "--exclude-from={{ local_project_path }}/{{ generated_folder_name }}/conf/.rsyncignore"
      - "--no-motd"
      - "--recursive"
      - "--times"
      - "--links"
      - "--compress"
      - "--delete"
  become: false

- name: Build application into a docker image
  community.docker.docker_image_build:
    name: "{{ project_name }}:latest"
    path: "{{ remote_project_path }}"
    dockerfile: "{{ remote_project_path }}/{{ generated_folder_name }}/conf/Dockerfile"
    nocache: true

- name: Deploy application with Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ remote_project_path }}/{{ generated_folder_name }}/conf"
    files:
      - "{{ project_compose_file_name }}"
    project_name: "{{ project_name }}"
    state: present
