{{define "title"}}About{{end}}
{{define "main"}}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nostrum animi, minus incidunt laudantium quas id nihil! Quam molestiae, odio explicabo soluta delectus rem pariatur quaerat quisquam saepe ipsum dignissimos. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga quis pariatur optio consequatur quibusdam nobis labore fugiat aut aliquid saepe, soluta, dolore odit, voluptas minus ea? Optio quae magnam repellat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem hic dolorum possimus rerum, ex deserunt labore non voluptatibus nemo suscipit optio, aut laborum sit. Deserunt tempora provident velit. Ut, voluptates.</p>
{{end}}
