- name: Generate SSH key for CD
  community.crypto.openssh_keypair:
    path: "{{ playbook_dir }}/key/CD"
    type: rsa
    comment: "ansible-generated Continous Deployment key"
    size: 2048
    mode: '0600'
  delegate_to: localhost
  become: false

- name: Deploy the generated public key to remote hosts
  ansible.posix.authorized_key:
    user: "{{ hostvars['deploy_user'].ansible_user }}"
    state: present
    key: "{{ lookup('file', playbook_dir + '/key/CD' + '.pub') }}"
